<module>
<Test f="nodata">
  <Test>
  	<connectToBluetooth t="button"/>
  	<testText/>
    <testPrint t="button"/>
  </Test>
</Test>
<logic>
String bluetoothMessagePrepend = "";

void connectToBluetooth() {
	callback = "onBluetoothInput()";
	delay = 1; //turns off reading from device
	createBluetoothConnection(callback, delay);  


	setupmessage = "~JC\n! U1 getvar \"ezpl.label_length_max\"";
	bluetoothMessagePrepend = "Current Label Height: ";
	writeBluetoothMessage(setupmessage)

	return;
}
onBluetoothInput() {
    message = getBluetoothMessage();
    showToast(bluetoothMessagePrepend+message);
}

void testPrint() {
	userInput = getFieldValue("Test/Test/testText");
	message  = "^XA";
	message += "^FO250,50^ADN,18,10^FDModule: "+getModuleName()+"^FS";
	message += "^FO250,90^ADN,18,10^FD"+userInput+"^FS";
	message += "^FO20,20^BQ,2,6^FDQA,http://www.fedarch.org^FS";
	message += "^XZ^XZ\n";
	writeBluetoothMessage(message);
	return;
}
addOnEvent("Test/Test/connectToBluetooth", "click", "connectToBluetooth()");
addOnEvent("Test/Test/testPrint", "click", "testPrint()");

</logic>
</module>



